<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhku.zhou.crm.dao.CustomerPageMapper" >
  <resultMap id="BaseResultMap" type="zhku.zhou.crm.entity.CustomerPage" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cus_status" property="cusStatus" jdbcType="INTEGER" />
    <result column="employees" property="employees" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="trade" property="trade" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="crtm" property="crtm" jdbcType="TIMESTAMP" />
    <result column="mdtm" property="mdtm" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, source, owner_name, user_name, company_name, contact_name, address, status, cus_status, 
    employees, rank, trade, number, remark, phone, owner_id, crtm, mdtm, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhku.zhou.crm.entity.CustomerPageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="zhku.zhou.crm.entity.CustomerPageExample" >
    delete from customer_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhku.zhou.crm.entity.CustomerPage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer_page (source, owner_name, user_name, 
      company_name, contact_name, address, 
      status, cus_status, employees, 
      rank, trade, number, 
      remark, phone, owner_id, 
      crtm, mdtm, is_deleted
      )
    values (#{source,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{cusStatus,jdbcType=INTEGER}, #{employees,jdbcType=INTEGER}, 
      #{rank,jdbcType=INTEGER}, #{trade,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER}, 
      #{crtm,jdbcType=TIMESTAMP}, #{mdtm,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhku.zhou.crm.entity.CustomerPage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="source != null" >
        source,
      </if>
      <if test="ownerName != null" >
        owner_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cusStatus != null" >
        cus_status,
      </if>
      <if test="employees != null" >
        employees,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="trade != null" >
        trade,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="crtm != null" >
        crtm,
      </if>
      <if test="mdtm != null" >
        mdtm,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null" >
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cusStatus != null" >
        #{cusStatus,jdbcType=INTEGER},
      </if>
      <if test="employees != null" >
        #{employees,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="trade != null" >
        #{trade,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="crtm != null" >
        #{crtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mdtm != null" >
        #{mdtm,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhku.zhou.crm.entity.CustomerPageExample" resultType="java.lang.Integer" >
    select count(*) from customer_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customer_page
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.ownerName != null" >
        owner_name = #{record.ownerName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.cusStatus != null" >
        cus_status = #{record.cusStatus,jdbcType=INTEGER},
      </if>
      <if test="record.employees != null" >
        employees = #{record.employees,jdbcType=INTEGER},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=INTEGER},
      </if>
      <if test="record.trade != null" >
        trade = #{record.trade,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=INTEGER},
      </if>
      <if test="record.crtm != null" >
        crtm = #{record.crtm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mdtm != null" >
        mdtm = #{record.mdtm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update customer_page
    set id = #{record.id,jdbcType=INTEGER},
      source = #{record.source,jdbcType=INTEGER},
      owner_name = #{record.ownerName,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      cus_status = #{record.cusStatus,jdbcType=INTEGER},
      employees = #{record.employees,jdbcType=INTEGER},
      rank = #{record.rank,jdbcType=INTEGER},
      trade = #{record.trade,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=INTEGER},
      crtm = #{record.crtm,jdbcType=TIMESTAMP},
      mdtm = #{record.mdtm,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>